// 共通
@media all {
    .signup {
        &__type {
            padding-top: 50px;
            &__boxes {
                @include flexbox();
                @include flexAlign(center);
            }
            &__box {
                padding: 20px 0;
                margin: 0 2%;
                border-radius: 8px;
                font-size: 160%;
                color: #fff;
                cursor: pointer;
                &[data-select="0"] {
                    opacity: 0.5;
                }
                &--owner {
                    width: 60%;
                    border: 3px solid #fff;
                    &[data-select="1"] {
                        background-color: #ff2121;
                    }
                    &[data-select="0"] {
                        border: 3px double #ff2121;
                        color: #333;
                    }
                }
                &--carrier {
                    width: 80%;
                    border: 3px solid #fff;
                    &[data-select="1"] {
                        background-color: #005dff;
                    }
                    &[data-select="0"] {
                        color: #333;
                        border: 3px double #005dff;
                        a {
                            color: #005dff;
                        }
                    }
                    a {
                        transition: none;
                    }
                }

                input[type="checkbox"] {
                    @include transform(scale(1.5));
                }



                &__t-wrap {
                    display:table;
                    height: 100px;
                    width: 100%;
                    cursor: pointer;
                }
                &__t-row {
                    display:table-row;
                    width: 100%;
                }
                &__t-cell {
                    display:table-cell;
                    width: 100%;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
        &__box {
            &__lists {
                @include flexbox();
                @include flexAlign(center);
            }
            &__list {
                box-sizing: border-box;
                padding: 5px;
                &--title {
                    width: 15%;
                }
                &--value {
                    width: 40%;
                }
            }
        }

        &__accept {
            margin-bottom: 20px;
            &__title {
                padding: 10px 0;
                .f_bold {
                    font-weight: bold;
                }
            }
            &__box {
                padding: 10px;
                height: 100px;
                overflow-y: scroll;
                border: 1px solid #666;
            }
        }

        &__to-epsilon {
            margin-bottom: 20px;
            &__title {
                padding: 10px 0;
            }
            &__lists {
                @include flexbox();
                @include flexAlign(center);
                cursor: pointer;
            }
            &__list {
                &--check {
                    font-size: 24px;
                    color: #f00;
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    border: 1px solid #999;
                    border-radius: 2px;
                    position: relative;
                    .fa {
                        position: absolute;
                        top: -15px;
                        left: -5px;
                        font-size: 150%;
                    }
                }
                &--body {
                    font-size: 18px;
                    width: calc(100% - 100px);
                }
            }
        }

    }
}
// スマホ
@media(max-width: 767px) {
    .signup {
        &__type {
            &__boxes {
                padding: 20px 10px;
            }
        }

        &__to-epsilon {
            &__lists {
                padding: 0 0 0 10px;
            }
            &__list {
                &--body {
                    width: 100%;
                    padding: 20px 0 20px 20px;
                }
            }
        }
    }
}
// TAB・PC
@media(min-width: 768px){
    .signup {
        &__type {
            &__boxes {
                padding: 20px 0px;
            }
        }

        &__to-epsilon {
            &__lists {
                padding: 0 20px;
            }
            &__list {
                &--body {
                    width: calc(100% - 100px);
                    padding: 20px;
                }
            }
        }
    }
}
