AddHandler x-httpd-php71 .php
suPHP_ConfigPath /usr/home/ae170v73lv/config/

# AuthUserFile "/usr/home/ae170v73lv/html/htpasswd/.htpasswd"
# AuthName "Development"
# AuthType BASIC
# require valid-user


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # www
    RewriteCond %{HTTP_HOST} ^transporter\.fun
    RewriteRule ^(.*)$ http://www.transporter.fun/$1 [R=301,L]

</IfModule>
