// 共通
@media all {
    .request__order {
        margin-bottom: 30px;
        &.initial-close {
            display: none;
        }
        &__box {
            font-size: 90%;
            border-radius: 8px;
            box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.3);
            &__panels {
                padding-top: 5px;
            }
            &__panel {
                box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.6)
            }
            &__arrow {
                color: #999;
            }
        }
        &__carrier {
            padding: 10px 30px;
        }
    }
}
// スマホ
@media(max-width: 767px) {
    .request__order {
        &__box {
            margin: 15px 0;
            box-sizing: border-box;
            padding: 5px 10px 10px;
            table {
                margin-bottom: 0;
            }
            &__panel {
                margin: 0 5px;
                padding: 10px 10px;
            }
            &__arrow {
                font-size: 22px;
            }
        }
    }
}
// TAB・PC
@media(min-width: 768px){
    .request__order {
        &__boxes {
            @include flexbox();
            @include flexWrap(wrap);
            //@include flexJustify(center);
        }
        &__box {
            margin: 10px;
            box-sizing: border-box;
            padding: 5px 15px;
            width: 400px;
            &__panel {
                margin: 0 15px;
                padding: 10px 15px;
            }
            &__arrow {
                font-size: 30px;
            }
        }
    }
}