// mixinsの読み込み
@import "./mixins/include.scss";
@import "_variables.scss";

/*** TOP ***/
.page_porter {
	.step_box{
		.step{
			float:left;
			span{
				color:#fff;
				display: inline-block;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				padding-top: 25px;
				padding-left: 13px;
				margin-right: 15px;
			}
			&.step1 span{background-color:#1F3A93;}
			&.step2 span{background-color:#227D9A;}
			&.step3 span{background-color:#079DCC;}
			&.step4 span{background-color:#56A512;}
			&.step5 span{background-color:#D4CF45;}
			&.step6 span{background-color:#D47E45;}
			&.step7 span{background-color:#C23232;}
			&.step8 span{background-color:#851A65;}
		}
	}
	dl.part_list {
		dt {
			color: #851A65;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;

			.part_number {
				display: inline-block;
				width: 27px;
				height: 27px;
				background-color: #851A65;
				color: white;
				font-size: 16px;
				font-weight: bold;
				line-height: 27px;
				text-align: center;
				border-radius: 3px;
				margin: 0 .75em 0 .125em;
				vertical-align: top;
				@include sp {
					vertical-align: baseline;
				}
			}
			.part_title {
				color: black;
				font-size: 18px;
				font-weight: bold;
				@include sp {
					display: block;
					margin-top: 5px;
				}
			}
		}
		dd {
			color: #707070;
			margin-bottom: 30px;
		}
	}
	table.separated {
		border-collapse: separate;
		border-spacing: 4px;
		table-layout: fixed;
		margin-left: -4px;
		margin-right: -4px;

		
		&.stripe {
			tr:nth-child(odd) {
				background-color: #F3F1EC;
			}
			tr:nth-child(even) {
				background-color: #EEEEEE;
			}
			th {
				font-size: 15px;
				font-weight: bold;
				padding: 15px 25px;
				text-align: left;
				vertical-align: middle;
			}
			td {
				padding: 15px 25px;
				text-align: left;
				vertical-align: middle;
			}
			@include sp {
				th {
					padding: 15px;
				}
				td {
					padding: 15px 10px;
				}
			}
		}
	}
	.f_bold {
		font-weight: bold;
	}
	.f_large {
		font-size: 18px;
	}
	.btn_style02_fat {
		width: auto;
		font-size: 18px;
		padding: 5px 40px;

		@include sp {
			padding: 5px 20px;
			line-height: 1.5;
		}
	}
}
