// mixinsの読み込み
@import "./mixins/include.scss";
@import "_variables.scss";

/*** TOP ***/
.page_qa_inquiry {
	.radius_box {
		padding: 15px 25px;
		border-radius: 5px;
		border: solid 2px #6799C5;

		.radius_box_title {
			color: #1F3A93;
			font-size: 18px;
			font-weight: bold;
			padding: 0 10px 10px;
			border-bottom: solid 1px #6799C5;
			margin-bottom: 20px;
		}

		.radius_box_content {
			padding: 0 10px 0;

			.table {
				display: table;

				.cell {
					display: table-cell;
					vertical-align: middle;

					&:first-child {
						width: 60%;
						padding-right: 50px;
					}
				}

				@include sp {
					display: block;

					.cell {
						display: block;
						&:first-child {
							display: block;
							padding: 0;
							width: auto;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.card {
		border: solid 1px #DFDED7;
		border-radius: 7px;
		overflow: hidden;
		.card_title {
			background-color: #F3F1EC;
			font-size: 16px;
			font-weight: bold;
			padding: 10px 20px;
		}
		.card_content {
			background-color: white;
			padding: 20px 20px 25px;
		}

		&.card_blue {
			border-color: #CBDCF8;
			.card_title {
				background-color: #EBF1FB;
			}
		}

		&.card_purple {
			border-color: #BFB0EC;
			.card_title {
				background-color: #EAE7F9;
			}
		}
	}

	.qa_list {
		font-size: 12px;
		padding-bottom: 0;
		margin-bottom: 0;

		li {
			margin-bottom: 15px;
			a {
				background: url(../images/icon_arrow_orange@2x.png) left 3px no-repeat;
				background-size: 12px 12px;
				padding-left: 20px;
				display: block;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.qa_list_blue li a {
			background: url(../images/qa_inquiry/icon_arrow_blue@2x.png) left 3px no-repeat;
			background-size: 12px 12px;
		}

		@include sp {
			& + .qa_list > li:first-child {
				margin-top: 15px;
			}
		}
	}

	.title_blue {
		font-size: 16px;
		font-weight: bold;
		background-color: #EBF1FB;
		color: #1F3A93;
		padding: 10px 20px;
	}

	.btn_style02_short {
		max-width: 330px;
	}
	.text_blue {
		color: #1F3A93;
	}
	.text_lightblue {
		color: #227D9A;
	}
	.text_gray {
		color: #707070;
	}
	.text_red {
		color: #C91D1D;
	}
	.bd_red {
		border: solid 1px #C91D1D;
	}
	.bd_gray {
		border: solid 2px #D5D5D1;
	}
	.f_bold {
		font-weight: bold;
	}
	.f_large {
		font-size: 18px;
	}

	.box_lightblue {
		background-color: #EBF1FB;
		padding: 20px;
	}
	.box_transparent {
		padding: 20px;
	}

	table.table_lightblue {
		width: 100%;
		border: solid 1px #707070;

		th, td {
			text-align: center;
			vertical-align: middle;
			padding: 8px;
			border: solid 1px #707070;
		}

		th {
			font-weight: bold;
		}

		thead {
			th {
				background-color: #73A9D8;
				color: white;
				font-size: 15px;
				padding: 7px;
			}
		}

		tbody {
			th {
				background-color: #F6F9FC;

				&[colspan] {
					background-color: #D8EBFC;
				}
			}
		}

		&.table_fixed {
			table-layout: fixed;
		}

		&.table_error_codes {
			tbody {
				th, td {
					padding: 15px;
				}
				td:last-child {
					text-align: left;
					max-width: 520px;
				}
			}
			@include sp {
				thead th {
					white-space: nowrap;
				}
				tbody {
					th, td {
						padding: 10px;
					}
				}				
			}
		}
	}
	.list_blue_square {
		padding: 0 1.25em;
		li {
			text-indent: -1.25em;
			margin-bottom: 15px;

			&::before {
				content: "■";
				color: #1F3A93;
				margin-right: .25em;
			}
		}
	}
}
