// mixinsの読み込み
@import "./mixins/include.scss";
@import "_variables.scss";

/*** TOP ***/
.page_useful{
	.check_box{
		@include clearfix();
		margin-top: 10px;
		.check_img_wrap{
			float:left;
			padding-right:10px;
		}
		.text_wrap{
			float: left;
			padding-top: 30px;
		}
	}
	.step_box{
		.step{
			float:left;
			span{
				color:#fff;
				display: inline-block;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				padding-top: 25px;
				padding-left: 13px;
				margin-right: 15px;
			}
			&.step011 {
				&.step1 span{background-color:#F9CA0E;}
				&.step2 span{background-color:#F9690E;}
				&.step3 span{background-color:#C91D1D;}
				&.step4 span{background-color:#4C1298;}
			}
			&.step016 {
				&.step1 span{background-color:#1F3A93;}
				&.step2 span{background-color:#227D9A;}
				&.step3 span{background-color:#079DCC;}
				&.step4 span{background-color:#56A512;}
			}
		}
	}
	.text_wrap {
		.text_gray {
			color: #707070;
		}
		.premium_porter {
			background-color: #1F3A93;
			color: white;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 4px;
			border-radius: 5px;
			max-width: 530px;
			width: 100%;
			padding: 5px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	ol.decimal {
		list-style-type: decimal;
		padding-left: 1.5em;
	}
	.figures {
		@include clearfix();
		figure {
			float: left;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}
		figcaption {
			font-weight: bold;
			text-align: center;
			margin-top: 5px;
		}
		@include sp {
			text-align: center;
			figure {
				float: none;
				margin-right: 0;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	table.header_blue {
		border-collapse: separate;
		border-spacing: 4px;
		table-layout: fixed;
		margin-left: -4px;
		margin-right: -4px;

		thead {
			th {
				background-color: #1F3A93;
				color: white;
				font-size: 18px;
				font-weight: bold;
				padding: 5px;

				&:first-child {
					width: 30%;
				}
				@include sp {
					&:first-child {
						width: 25%;
					}
				}
			}
		}
		tbody {
			tr:nth-child(odd) {
				background-color: #F3F1EC;
			}
			tr:nth-child(even) {
				background-color: #EEEEEE;
			}
			th {
				font-size: 15px;
				font-weight: bold;
				padding: 15px 30px;
				text-align: left;
				vertical-align: middle;
			}
			td {
				padding: 15px 20px;
				text-align: left;
			}
			@include sp {
				th {
					padding: 15px;
				}
				td {
					padding: 15px 10px;
				}
			}
		}

		&.th_center tbody th {
			text-align: center;
		}
		&.rate_table {
			.rate {
				transform: scale(1.25);
				transform-origin: top center;
				margin-bottom: 6px;
				@include sp {
					transform: scale(.75);
					margin-left: -16px;
					margin-right: -16px;
					margin-bottom: -6px;
				}

				&.rate4, &.rate3-5 {
					width: 104px;
					&::before, &::after {
						content: "★★★★";
					}
				}
				&.rate3 {
					width: 78px;
					&::before, &::after {
						content: "★★★";
					}
				}
			}
		}
	}
	.icon_title {
		img {
			vertical-align: middle;
		}
		span {
			vertical-align: middle;
			font-size: 16px;
			font-weight: bold;
		}
	}
}




