// 共通
@media all {
    .dashboard {
        &__block {
            padding: 10px;
        }
        &__title {
            @include fsize(18);
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        &__lists {
        }
    }
}
// スマホ
@media(max-width: 767px) {
}
// TAB・PC
@media(min-width: 768px){
    .dashboard {
        &__lists {
            @include flexbox();
            border-bottom: 1px dotted #ccc;
            padding: 5px 0;
        }
        &__list {
            &--title {
                width: 10%;
                margin-right: 10px;
            }
            &--value {
                width: 90%;
            }
        }
    }
}