// 共通
@media all {
    * {
        line-height: 1.4;
        font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        word-break: break-all;
    }
    body {
        color: #333;
        position: relative;
    }

    html.page-login,
    body.page-login {
        width: 100%;
        height: 100%;
    }

    img {
        height: auto;
    }
    table {
        .align-right {
            text-align: right;
        }
    }

    .img-fix {
        width: 100%;
        height: auto;
    }
    .img-block {
        display: block;
    }

    // header
    .site-logo {
        text-align: center;
    }
    .text-italic {
        font-style: italic;
    }

    .form-control[readonly] {
        background-color: #fff;
    }

    .my-thumbnail {
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        &__img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid #eee;
            width: 100%;
            height: 100%;
            @include bgCover();
            &--square {
                border-radius: 0;
                @include bgContain();
                border: none;
            }
        }
    }

    .lists {
    }
    .list {
    }

    .must {
        position: relative;
        &:after {
            content: " ※必須項目";
            color: #f00;
            font-size: 80%;
        }
    }

    .params {
        @include flexbox();
        @include flexAlign(center);
        &-top {
            @include flexAlign(flex-start);
        }
        &-left {
            padding: 5px;
            border-bottom: 1px dotted #ccc;
        }
        &-align-top {
            @include flexAlign(flex-start);
        }
    }
    .param {
        text-align: center;
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
        &-10  { width: 10%;}
        &-20  { width: 20%;}
        &-30  { width: 30%;}
        &-40  { width: 40%;}
        &-50  { width: 50%;}
        &-60  { width: 60%;}
        &-70  { width: 70%;}
        &-80  { width: 80%;}
        &-90  { width: 90%;}
        &-100 { width: 100%;}

        &-mr {
            &-sm {
                margin-right: 5px;
            }
            &-md {
                margin-right: 10px;
            }
            &-lg {
                margin-right: 15px;
            }
        }
        &-ml {
            &-sm {
                margin-left: 5px;
            }
            &-md {
                margin-left: 10px;
            }
            &-lg {
                margin-left: 15px;
            }
        }
    }

    .stars-wrap {
        display: inline-block;
    }
    .stars {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        width: 62px;
        height: 14px;
        &--val {
            display: inline-block;
            font-size: 9px;
        }
    }
    .star {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #000;
        z-index: 10;
        text-shadow: 0px 0px 0.1px #000;
        font-size: 12px;
        &__lists {
            width: 62px;
            @include flexbox();
            @include flexJustify(space-between);
        }
        &--after {
            color: #ff0;
            overflow: hidden;
            width: 0%;
            height: 100%;
            z-index: 11;
        }
    }

    .push {
        &__box {
            position: relative;
            display: inline-block;
            &:hover {
                .push__body {
                    opacity: 1;
                }
            }
        }
        &__icon {
            padding: 5px;
            &--nominate {
                color: #f00;
            }
        }
        &__body {
            position: absolute;
            bottom: 8px;
            left: 8px;
            border: 2px solid #f00;
            background-color: #fff;
            border-radius: 4px;
            padding: 5px 8px;
            z-index: 20;
            width: 120px;
            opacity: 0;
            @include transition(0.5);
        }
        &__carrier {
            font-size: 80%;
        }
    }

    .evaluates-wrap {
    }
    .evaluates {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        width: 186px;
        height: 42px;
        &--val {
            font-size: 14px;
            &--hide {
                display: none;
            }
        }
    }
    .evaluate {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #000;
        z-index: 10;
        text-shadow: 0px 0px 0.1px #000;
        font-size: 37px;
        &--editable {
            cursor: e-resize;
        }
        &__lists {
            width: 186px;
            @include flexbox();
            @include flexJustify(space-between);
        }
        &--after {
            color: #ff0;
            overflow: hidden;
            width: 0%;
            height: 100%;
            z-index: 11;
        }
    }

    .block-hide {
        display: none;
    }

}
// スマホ
@media(max-width: 767px) {
    .table-scroll-wrap {
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
          height: 5px;
        }
        &::-webkit-scrollbar-track {
            margin: 0 2px;
            background: #ccc;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background: #666;
        }
    }
    .table-scroll {
        width: 100%;
    }

    .lists {
        padding: 5px 0;
    }
    .list {
        box-sizing: border-box;
        text-align: left;
        &-title {
            padding: 4px 4px;
            background-color: #f3f3f3;
        }
        &-value {
            padding: 4px 8px;
        }
        &-mb {
            &-sm {
                margin-bottom: 5px;
            }
            &-md {
                margin-bottom: 10px;
            }
            &-lg {
                margin-bottom: 15px;
            }
        }
    }
}
// TAB・PC
@media(min-width: 768px) {
    .lists {
        @include flexbox();
        @include flexAlign(stretch);
        border-bottom: 1px dotted #999;
        margin-bottom: 0;
        &-top {
            @include flexAlign(flex-start);
        }
    }
    .list {
        box-sizing: border-box;
        padding: 8px 16px;
        &-title {
            width: 30%;
            background-color: #f3f3f3;
        }
        &-value {
            width: 70%;
        }
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
        &-10  { width: 10%;}
        &-20  { width: 20%;}
        &-30  { width: 30%;}
        &-40  { width: 40%;}
        &-50  { width: 50%;}
        &-60  { width: 60%;}
        &-70  { width: 70%;}
        &-80  { width: 80%;}
        &-90  { width: 90%;}
        &-100 { width: 100%;}

        &-mr {
            &-sm {
                margin-right: 5px;
            }
            &-md {
                margin-right: 10px;
            }
            &-lg {
                margin-right: 15px;
            }
        }
        &-ml {
            &-sm {
                margin-left: 5px;
            }
            &-md {
                margin-left: 10px;
            }
            &-lg {
                margin-left: 15px;
            }
        }
    }
}

// TAB
@media(min-width: 768px) and (max-width: 999px) {
}
// PC
@media(min-width: 1000px){
    .imgover:hover {
        opacity: 0.75;
    }
}

